<div class="container">
  <div class="content">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-toolbar color="primary">
          <button
            mat-icon-button
            class="example-icon"
            aria-label="Example icon-button with menu icon"
          >
            <mat-icon>menu</mat-icon>
          </button>

          <span class="example-spacer"></span>

          <button
            mat-icon-button
            class="example-icon"
            aria-label="Example icon-button with share icon"
          >
            <mat-icon>settings</mat-icon>
          </button>
        </mat-toolbar>
      </mat-card-header>
      <mat-card-content>
        <div class="chat-bubble" [ngClass]="chat.type" *ngFor="let chat of chats">
          {{chat.message}}
        </div>
        
        
      </mat-card-content>
      <mat-card-footer>
        <form [formGroup]="chatForm" (submit)="getMessage()">
          <mat-form-field appearance="outline">
            <mat-label>Type a question</mat-label>
            <input matInput formControlName="message"/>
            <button mat-icon-button matSuffix type="submit"><mat-icon>send</mat-icon></button>
          </mat-form-field>
        </form>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
